@import "./partial/General";
@import "./partial/variables";
@import "./partial/btn";
@import "./partial/grid";
@import "./partial/hero";
@import "./partial/typography";
@import "./partial/callout";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;600&family=Fraunces:wght@700;900&display=swap");
.features {
  padding: 1rem;
  @include textCenter;
  h1 {
    margin-bottom: 2rem;
  }
  img {
    width: 100%;
  }
  h3 {
    margin-top: 0.5rem;
  }
  @include desktop {
    padding-inline: 2rem;
  }
}
