<div class="callout">
    <div class="callout__header">
        <h1 class="callout__heading">
            Why choose <br> Easybank
        </h1>
        <p class="callout__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil assumenda eligendi facere ad, ipsum vitae?
        </p>
    </div>
    <div class="callout__body grid grid--cols-4">
    <div class="callout__article">
        <img src="images/icon-api.svg" alt="" class="callout__img">
        <h2 class="title">Online banking</h2>
        <p class="callout_article-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, eius!
        </p>
    </div>
    <div class="callout__article">
        <img src="images/icon-api.svg" alt="" class="callout__img">
        <h2 class="title">Online banking</h2>
        <p class="callout_article-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, eius!
        </p>
    </div>
    <div class="callout__article">
        <img src="images/icon-api.svg" alt="" class="callout__img">
        <h2 class="title">Online banking</h2>
        <p class="callout_article-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, eius!
        </p>
    </div>
    <div class="callout__article">
        <img src="images/icon-api.svg" alt="" class="callout__img">
        <h2 class="title">Online banking</h2>
        <p class="callout_article-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, eius!
        </p>
    </div>
    </div>
</div>