<div class="hero grid grid--cols-2">
       
    <img src="images/image-mockups.png" alt="" class="hero__img">
    <div class="hero__content">
        <h1 class="hero__heading">Next generation <br> digital banking</h1>
        <p class="hero__text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae ullam officia ducimus consequuntur nam laboriosam iste praesentium dolorum animi sunt?
        </p>
        <button class="btn">Request Invite</button>
    </div>
</div>